
.sidePanel{text-align:center;.background_subContent();}

.responsiveContainer, .sidePanel
{
	padding: @paddingContent;
	
}

#inputSearch{width:95%;}
#formSearch, #formLoginHome{text-align:right;}
#formSearch{padding-bottom:@paddingContent;border-bottom:1px solid #DDD;}

#loginBox
{
	border:1px solid #DDD;
	margin-top:@paddingContent;
	padding: @paddingContent;
}

.articleContainer article{
	background:#FFF;
	margin-bottom:4px;
	overflow:hidden;
}

.articleContainer section{overflow:hidden;}
.articleVote
{
	padding-top:@paddingContent;
	padding-left:@paddingContent;
	position: relative;
	float:left;
	text-align:center;
	color:#999;
	text-shadow: 0 0 1px #DDD;
}

.articleOptions
{
	float:right;
	padding-top:4px;
	padding-right:4px;
	
	font-size:110%;
}

.articleVote a{color:#999;}

.articleVote li:nth-child(1) a:hover{color: @colorSuccess;}
.articleVote li:nth-child(3) a:hover{color: @colorFailure;}

.articleVote ul{list-style:none;}
.articleVoteIcon{font-size:70%;}

.articleThumb{
	position: relative;
	float:left;
	text-align:center;
	padding-top:@paddingContent;
	padding-left:@paddingContent;
}

.article{word-wrap: break-word;padding:@paddingContent;}
.articleContainer h3{font-size:90%}
.articleContainer p{color:#999;font-size:60%;}
.articleContainer h3 span{color:#999;font-size:60%;}
.articleContainer h3 span a{color:#999;}
.articleContainer p span{font-weight:bold;}

.votePositive a{color:@colorSuccess;}
.votePositive a:hover{color:#999 !important;}

.voteNegative a{color:@colorFailure;}
.voteNegative a:hover{color:#999 !important;}

/*
	Media Queries
*/

@media(max-width: 640px),(orientation:portrait)
{
	.sidePanel{border:1px solid #8FB2D6;border-width:1px 0;}
	.responsiveContainer, .sidePanel{min-height:100%;overflow: hidden;}
}

@media(min-width: 640px) and (orientation:landscape)
{
	.responsiveContainer
	{
		display: table-cell;
		width: 100%;
		min-height: 400px;
		vertical-align: top;
	}

	.sidePanel
	{
		display: table-cell;
		min-width: 320px;
		min-height: 400px;
		
		border-left:1px solid #8FB2D6;
		border-bottom:1px solid #8FB2D6;
		border-bottom-left-radius: 6px;
		box-shadow: 1px 0px 3px #888;
	}
}
