
#categorymenu
{
	width: 100%;
	height:20px;
	
	border-bottom:1px solid #AAA;
	font-size:80%;
	font-family:@fontOther;
	
	background:#FFF;
	background:linear-gradient(to bottom, #FFF 0%,#f1f1f1 50%,#e1e1e1 51%,#F6F6F6 100%);
	
	overflow:hidden;
}

#categorymenu .mLinkSelected{color:#C44;text-decoration:underline;}
#categorymenu ul{float:left;list-style:none;}
#categorymenu li{float:left;}

.catSeperator
{
	border-right:1px solid #AAA;
	display:inline-block;
	padding:2px 8px;
	color:#BBB;
}

#categorymenu a
{
	border-right:1px solid #AAA;
	display:inline-block;
	padding:2px 4px;
	color:#000; 
	text-decoration:none;
}

#categorymenu a:hover
{
	background:#F6F8F9;
	background:linear-gradient(to bottom, #F6F8F9 0%,#BEC3C4 50%,#B0B7BA 51%,#F5F7F9 100%);
	color:#C44;
}

#categoryMore a{border-left:1px solid #AAA;}

#categoryMore
{
	position:absolute;
	z-index:2;
	left:100%;
	width:50px;
	margin-left:-50px;
	
	background:#FFF;
	background:linear-gradient(to bottom, #FFF 0%,#f1f1f1 50%,#e1e1e1 51%,#F6F6F6 100%);
}

