
.buttonOpenID()
{
	display:inline-block;
	width:246px;
	height:54px;
	
	background-position: left top;
	color:#FFF;
	
	overflow:hidden;
	text-align:left;
	
	span
	{
		display:inline-block;
		margin-left:10+49px;
		line-height:54px;
	}
}

#buttonGoogle, #buttonGoogle:visited, #buttonGoogle:link
{
	.buttonOpenID();
	background: url('../images/Red-signin_Long_base_44dp.png');
}

#buttonGoogle:hover{background:url('../images/Red-signin_Long_hover_44dp.png');}
#buttonGoogle:active,#buttonGoogle:focus{background:url('../images/Red-signin_Long_press_44dp.png');}

.openIDButtons{margin-top:@paddingContent;padding-top:@paddingContent;border-top:1px solid #DDD;}

input, textarea, button
{
	-moz-box-shadow: 0 0 3px #CCC;
	-webkit-box-shadow: 0 0 3px #CCC;
	box-shadow: 0 0 3px #CCC;
	border: 1px solid #AAA;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	padding:5px;
	font-size:70%;
}

textarea{width:94%;font-size:100%;}

label
{
	display: block;
	text-shadow: 0px 2px 2px #AAA;
	padding:2px;
	padding-top:6px;
}

.labelInline
{
	display: inline;
}

.checkboxfield
{
	border:1px solid @colorBorderOther;
	margin:@paddingContent/2;
	padding:@paddingContent;
	margin-left:0;
}

.formDescription
{
	border-bottom:1px solid @colorBorderOther;
	text-shadow: 0px 4px 5px #AAA;
	font-size:90%;
	font-style: italic;
	color:#555;
	margin-bottom:@paddingContent/2;
}

.inputDescription
{
	color:#AAA;
	font-size:60%;
	padding:0 2px;
}

.inputOptional
{
	color:#999;
	font-size:56%;
}

button{margin-top:6px;}
button:hover
{
	-moz-box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px #AAA;
	box-shadow: 0 0 3px #AAA;
	border: 1px solid #AAA;
	background-color:#CCC;
}

input:focus,textarea:focus, button:active, button:focus{.focusEffect();}

button:active
{
	background-color:#8FB2D6;
	color:#FFF;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}