

.si_option
{
	display: inline-block;


	border-radius: 5px;
	
	width:32px;
	height:24px;
	padding:5px;
	overflow:hidden;
	
	background-color:#FFF;
	
	-moz-box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px #AAA;
	box-shadow: 0 0 3px #AAA;
	border: 1px solid #CCC;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	text-align:center;
	
	&:hover{.focusEffect();}
}

.si_audio{cursor:pointer;}
.si_image{

	-moz-box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px #AAA;
	box-shadow: 0 0 3px #AAA;
	border: 1px solid #CCC;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.si_refresh, .si_audio{
	width:24px;
	height:24px;
	background-color:#FFF;
}

.si_captchaInput{clear:both;}