
//@import url(http://fonts.googleapis.com/css?family=Short+Stack);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

@colorLinkMenu: #C44;
@colorLink: #336699;
@colorOther: #8FB2D6;
@colorSuccess: #25880A;
@colorFailure: #A90329;

@colorBorderMain: #C44;
@colorBorderOther: #8FB2D6;
@colorBorderOther2: #CCC;

@borderRadius: 6px;

@fontTitle: 'Varela Round', Helvetica, sans-serif;
@fontMenu: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
@fontBody: Verdana, Geneva, sans-serif;
@fontOther: Consolas, 'Lucida Console', Monaco;

@paddingContent: 24px;

/*
	Normalize
*/

fieldset{border:0;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,form,fieldset,table,td,th,caption{margin:0;padding:0;}
caption,th{text-align:left;}

/* 
	Functions
*/

.background_gradient()
{
	background: #DEEFFF;
	background: linear-gradient(to bottom, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
}

.background_gradientReverse()
{
	background: #98BEDE;
	background: linear-gradient(to bottom, rgba(152,190,222,1) 0%,rgba(222,239,255,1) 100%);
}

.background_subContent()
{
	background: #FFF;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
}

.breakWord(){word-wrap:break-word;word-break:normal;}
.breakWordAll(){word-wrap:break-word;word-break:break-all;}

.focusEffect()
{
	-moz-box-shadow: 0 0 3px @colorOther;
	-webkit-box-shadow: 0 0 3px @colorOther;
	box-shadow: 0 0 3px @colorOther;
	border: 1px solid darken(@colorOther,1%);
}

.statusContent()
{
	border:1px solid @colorBorderOther2;
	border-radius: @borderRadius;
	padding:@paddingContent;
	margin-bottom:@paddingContent/2;
}

/*
	Ads
*/

.ads_sidebar
{
	border:1px solid @colorBorderOther2;
	margin:@paddingContent auto 0;
	padding:@paddingContent/2;
}

.ads_header,.ads_footer
{
	max-width:728px;
	max-height:90px;
	
	margin:0 auto;
}

.ads_header,.ads_footer,.ads_sidebar
{
	overflow:hidden;
}

.ads_header{margin-bottom:@paddingContent;}
.ads_footer{margin-top:@paddingContent;}

/*
	Classes
*/

.subContentContainer{position:relative;overflow:hidden;margin-bottom:@paddingContent;}

.focusEffect{.focusEffect();}

.subContainer
{
	min-width: 320px;
	max-width: 320px;
	margin: @paddingContent;
	margin-bottom: 0;
	float:left;
}

.subContent
{
	padding: @paddingContent;
	border:1px solid @colorBorderOther;
	border-radius: @borderRadius;
	background:#FFF;
	color: #000;
}

.success{color:@colorSuccess !important;}
.failure{color:@colorFailure !important;}

.online{color:@colorSuccess;}
.offline{color:@colorFailure;}

.openIdLinkContainer
{
	background:#EEE;
	border: 1px solid @colorBorderOther2;
	border-radius: @borderRadius;
	text-align:center;
}

.openIdLink
{
	display:block;
	margin:auto 4px auto 0;
	font-size:80%;
}

.failureContent
{
	.statusContent();
	background: #fed4d4;
	background: linear-gradient(to bottom,  #fed4d4 0%,#feb8b8 45%,#ff9797 100%);
	color:#555;
	text-shadow: 0 0 1px #777;
}

.successContent
{
	.statusContent();
	background: #d5fed4;
	background: linear-gradient(to bottom, #d5fed4 0%,#bafeb8 45%,#9aff97 100%);
	color:#555;
	text-shadow: 0 0 1px #777;
}

.failureContent a, .successContent a{color:#777;text-shadow: 0 0 1px #999;}

.descriptionContent
{
	background: rgba(255,255,255,0.5);
	border:1px solid #DDD;
	box-shadow:0px 0px 2px 1px #DDD inset; 
	
	margin-top: @paddingContent;
	padding: @paddingContent/2;
	text-align:left;
}

.pagelinks
{
	font-size:70%;
	overflow:hidden;
}
.pagelinks ul{list-style:none;}
.pagelinks li{float:left;margin: 0 4px 0 0;}

/*
	Main Style
*/


html,body{
    height: 100%;
	width: 100%;
}

body
{
	min-height: 100%;
	overflow-y:scroll;
	
	background:#EEE;
	color: #000;
	
	font-size:100%;
	font-family:Verdana;
	
	min-width: 100%
}

h1{font-size:250%;}
h2,h3,h4,h5,h6{font-size:100%;}

a{color:@colorLink;text-decoration:none;}
a:hover{text-decoration:underline;}

#container
{
	position:relative;
	min-width: 360px;
	min-height: 100%;
	overflow: hidden;
}

#content_top
{
	position:relative;
	width:100%;
	min-width: 360px;
}

#header
{
	width:100%;
	height:80px;
	
	border-bottom:4px solid @colorBorderMain;
	color:#000;
	overflow:hidden;
	
	h1{margin-top:10px;font-family: @fontTitle;font-weight:bolder;}
	p{font-family: @fontOther;font-size: 70%;}
	
	.background_gradient();
}

#header_title
{
	width:300px;
	height:80px;
	padding-left:@paddingContent;
	float: left;
	a{color:inherit;}
	a:hover{text-decoration:none;}
}

#content
{
	position:relative;
	width:100%;
	height:100%;
	min-height:100%;
	overflow: hidden;
}

#profile
{
	text-align:left;
	margin-top:@paddingContent;
	overflow:hidden;
}

#profile h2{margin-bottom:@paddingContent/2;float:left;}

#profileInformation{clear:both;}
#profileStats{margin-top:@paddingContent/2;}

#profileInformation  caption, #profileStats caption{text-align:left;font-size:80%;font-weight:bold;}
#profileInformation  td:first-child, #profileStats td:first-child{width:180px;}
#profileInformation  td, #profileStats td{text-align:left;font-size:70%;}

#profileUserStatus{display:block;float:right;}

#meemitButtons
{
	padding: @paddingContent;
	padding-bottom:0;
}

/*
	Includes
*/

@import "_categorymenu";
@import "_menu";
@import "_forms";
@import "_secureimage";

@import "_article";

/*
	Footer
*/

#footer_separator{width:100%;height:86px;}

#footer
{
	position:absolute;
    left:0;
    bottom:0; 
	
	width:100%;
	height:40px;
	padding:@paddingContent 0;
	overflow:hidden;
    
	color:#000;
	border-top:4px solid @colorBorderMain;
	
	font-size:70%;
	font-family:@fontOther;
	
	.background_gradientReverse();
}

#footer_left
{
	float:left;
	width:140px;
	padding-left:@paddingContent;
	
	text-align: left;
	overflow:hidden;
	.breakWord();
}

#footer_right
{
	float:right;
	width:140px;
	padding-right:@paddingContent;
	
	text-align: right;
	overflow:hidden;
}

#footer a{color:#000;text-decoration:underline;}
#footer a:hover,#footer a:active{color:#000;}

/*
	Media Queries
*/

@media(orientation:landscape)
{
	#container{min-width: 480px;}
	#content_top{min-width: 480px;}
	.subContainer{min-width: 420px;max-width: 420px;}
	#header_title p{font-size: 80%}
}

@media(max-width: 959px), (orientation:portrait)
{
	.subContainer{margin-left:auto;margin-right:auto;float:none;}
}

